In [6]:
import numpy as np
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')
data.head(5)
data.columns

Index(['Unnamed: 0', 'Id', 'Name', 'Year', 'Gender', 'State', 'Count'], dtype='object')

In [7]:
#1. Delete unnamed columns
data.drop('Unnamed: 0',axis=1,inplace=True)

In [9]:
#2. Show the distribution of male and female
data.groupby('Gender').describe()
data.Gender.value_counts('F')

F    0.549832
M    0.450168
Name: Gender, dtype: float64

In [11]:
#3. Show the top 5 most preferred names
data_pref_name = data.Name.value_counts().sort_values(ascending=False).head(5)
data_pref_name

Riley     1112
Avery     1080
Jordan    1073
Peyton    1064
Hayden    1049
Name: Name, dtype: int64

In [12]:
#4. What is the median name occurence in the dataset
data_median =  (np.where(data.Id == data.Id.median()))
print (data_median)
Median_name = data.loc[data_median]
print (Median_name)

(array([508197], dtype=int32),)
             Id   Name  Year Gender State  Count
508197  2811921  Kasey  2010      F    MO      6

In [14]:
#5. Distribution of male and female born count by states
pd.crosstab(index=data.Gender,columns=data.State)

State,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
Gender,,,,,,,,,,,,,,,,,,,,,
F,2404,9878,7171,14518,45144,11424,6575,3053,2549,25781,...,2838,13063,39760,9515,14759,1398,13329,10549,4305,1456
M,2587,8419,6475,10820,31637,9183,5733,3000,2440,20070,...,2908,10588,27791,8233,11997,1618,11049,8940,3733,1904